body, html {
    height: 100%;
    margin: 0;
}

.bannerimg {
    background: url("../images/testbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
}


div#homePageTitle {
    height: 10em;
    position: relative }
div#homePageTitle h1 {
    margin: 0;
    position: absolute;
    top: 300%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
}

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Recipe-Name {
    margin-top: 50px;
}
