body, html {
    height: 100%;
    margin: 0;
}

.bannerimg {
    background: url("../recipeimg/testbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

body {













}