body, html {
    height: 100%;
    margin: 0;
}

.bannerimg {
    background: url("../recipeimg/testbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
<<<<<<< HEAD

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
=======
>>>>>>> 634503893698a18f77427a9a5d75d163f7c41bd0
