html, body {
    margin: 0;
    padding: 0;
    background-color: black;

}
#dark-background{
    background-color: black;
    color: white;

}
#photo-gallery-title {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    
}

.recipeContainer {
    min-width: 300px; 
    min-height: 300px;
    margin: 50px;
}

.recipePhoto {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid white;
    height: 100%;
}
#RecipeOne {
    background-image: url(../images/fata.jpg);
}
#RecipeTwo {
    background-image: url(../images/shero.JPG);
}

#RecipeThree {
    background-image: url(../images/gaat.jpg);
}

#RecipeFour {
    background-image: url(../images/dorho.jpg);
}



.recipeName {
    text-align: center;
    margin-top: 5px;

}